body {
    background: url(https://source.unsplash.com/FBbRad1EWjw/2917×3798);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.flex-container {  
    height: 100vh;
    display: flex; 
    flex-direction: column;   
}

.flex-container {
    justify-content: space-between;
    max-height: 800px;
    width: 75%;
}

.hero-container > h1 {
    font-size: 12rem;
    word-spacing: -1rem;
    letter-spacing: -.5rem;
}

.hero-container > h3 {
    font-size: 2rem;
}

.bg-opacity-grey {
    background-color: rgba(255, 255, 255, 0.74);
}

.font-thin {
    font-weight: 100;
}

.btn-goplaces {
    border-radius: 0px;
    padding: 10px 10px;
    margin: 0;
}

.form-font {
    font-weight: 600;
}

.form-border {
    border-bottom: 2px solid #fff;
}

.form-border:hover {
    border-bottom: 2px solid rgb(0, 201, 201);
}

/* rgb(0, 201, 201) */