
.flex-container {
    background: url(https://source.unsplash.com/FBbRad1EWjw/2917×3798);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}